.title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #253858;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
}
.myContainer{
    margin-top: 2%
}
.radio-inline{
    display: inline;
    padding-left: 30px;
    margin-left: 0px;
}
.footer {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #d4d3d3;
}
.navlink{
    margin-left: 20px;
    margin-right: 20px;
}
ul {
    list-style-type: none;
  }

a{
    margin: 1%;
}
.PV{
    display: block;
}
@media (min-width: 768px) {
    .card{
        max-width: 70%!important;
    
    }
    .PV{
        display: inline;
    }
}
  
.sponsor {

    text-align: center;
    background-color: #6c757d;
    color: #FFFF;
    font-family: sans-serif;
    padding: 2%;
    font-size: 0.90em;

}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
